%table{:border=>"0", :cellspacing=>"20"}
  %tr
    %td
      %img{:src=>"images/where_is_rails_300_400.png"}
    %td
      %h1 
        %a{:href=>"http://blogspot.com"} 
          How do I edit this page?
      %p You're seeing this page because you need to edit the following files:
      %ul
        %li config/router.rb  <strong><em>(recommended)</em></strong>
        %li app/views/exceptions/not_found.html.erb <strong><em>(recommended)</em></strong>
        %li app/views/layout/application.html.erb <strong><em>(change this layout)</em></strong>

      %h3 
        %a{:href=>"http://blogspot.com"} 
          Where can I find help?
      %p
        If you have any questions or if you can't figure something out, please take a 
        look at our <a href="http://merbivore.com/"> "project page"</a>, <br/>
        feel free to come chat at irc.freenode.net, channel #merb, 
        or post to <a href="http://groups.google.com/group/merb"> merb mailing list</a><br/>
        on Google Groups.

